.main-container{
   margin:4rem 2rem;
   position: relative ;
}



@media (min-width:1440px){

   .main-container{
      max-width:80%;
      display: grid;
      gap:2rem;
      margin-inline: auto;
      grid-template-rows: repeat(2,1fr) ;
      grid-template-columns: repeat(4,1fr);   
   }
}