.student{
   display:flex;
   align-items: center;
   gap:1rem;
}

.student img{
   width:2rem;
   border-radius: 50%;
   border: 1px solid var(--primary-white);
}

.name p{
   margin-bottom:0.2rem;
   font-size: 0.9rem;
   font-weight: 600;
}

.name p:last-child{
   font-size:0.7rem;
   font-weight: 200;
}