.testimonial{
   padding:2.4rem;
   margin:1.5rem 0;
   border-radius: 10px;
   z-index: 1;
}

.testimonial > *{
   margin:1rem 0;
   z-index:9999;
}


.testimonial:nth-of-type(1) {
   background-color: var(--primary-moderate-violet);

}

.testimonial:nth-of-type(2) {
   background-color: var(--primary-very-dark-grayish-blue);
}

.testimonial:nth-of-type(3) {
   background-color: var(--primary-white);
      box-shadow:3px 3px 30px var(--neutral-light-gray);

}

.testimonial:nth-of-type(4) {
   background-color: var(--primary-very-dark-blackish-blue);
}

.testimonial:nth-of-type(5) {
   background-color: var(--primary-white);
      box-shadow:3px 3px 30px var(--neutral-light-gray);

}

.testimonial:nth-of-type(1),.testimonial:nth-of-type(2),.testimonial:nth-of-type(4){
   color:var(--primary-white);
}

.testimonial > p{
   opacity:0.5;
}