:root {

   font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 500;
   font-style: normal;
   font-size: 13px;

   /* Primary colors */

   --primary-moderate-violet: hsla(263, 55%, 52%);
   --primary-very-dark-grayish-blue: hsla(217, 19%, 35%);
   --primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
   --primary-white: hsl(0, 0%, 100%);


   /* Neutral colors */
   --neutral-light-gray: hsla(0, 0%, 81%);
   --neutral-light-grayish-blue: hsl(210, 46%, 95%);
}